<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutureAhead"
        tools:targetApi="31">
        <activity
            android:name=".LocationOwner.MainActivity"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.IbpsExam"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.SscExam"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.CatExam"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.UpscExam"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.GateExam"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.NeetExam"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.JeeMain"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".User.MostViewedHelperClass.MostViewed"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>